<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://svcbus1.hyperx.local/TestNS1;StsEndpoint=https://svcbus1.hyperx.local:9355/TestNS1;RuntimePort=9354;ManagementPort=9355;OAuthUsername=[Username];OAuthPassword=[Password]" />
    <add key="Host" value="ws.utvikling.nhn.no"/>
    <add key="Username" value="OrgUsr##########"/>
    <add key="Password" value="PASSWORD"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommunicationPartyService">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICommunicationPartyService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommunicationPartyService">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.nhn.no/v1/AR" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICommunicationPartyService"
        contract="AR.ICommunicationPartyService" name="WSHttpBinding_ICommunicationPartyService" />
      <endpoint address="net.tcp://ws.nhn.no:9876/v1/AR" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICommunicationPartyService"
        contract="AR.ICommunicationPartyService" name="NetTcpBinding_ICommunicationPartyService">
        <identity>
          <dns value="ws.nhn.no" />
        </identity>
      </endpoint>
      <endpoint address="https://ws.nhn.no/v1/AR/Basic" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICommunicationPartyService"
        contract="AR.ICommunicationPartyService" name="BasicHttpBinding_ICommunicationPartyService" />
    </client>
  </system.serviceModel>
</configuration>
